import reqwest from '../utils/reqwest';
import {getGlobalToken} from '../utils/constant';

#foreach($item in $methods)

    //${item.comment}
    export function ${item.name}(payload) {
        return reqwest({
            url: '${item.url}',
            method: '${item.method}',
            #if($item.hasToken == true)
                headers: {'Authorization': getGlobalToken()},
            #end
            type: 'json',
            #if($item.data != null)
            data: ${item.data}
            #end
        })
    }
#end
